# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/

# dependencies
node_modules/
yarn.lock

# IDEs and editors
.idea/

# build tools
coverage/

# e2e
/e2e/*.js
/e2e/*.map

# misc
npm-debug.log
